$small-width : 768px;
$header-color : orange;

$section-border-radius : 8px;
$section-content-border-radius : 4px;
$section-content-gap : 8px;

@import url('https://fonts.googleapis.com/css?family=Roboto:500|Zilla+Slab:700');

$font-short-text : 'Zilla Slab', serif;
$font-long-text : 'Roboto', sans-serif;

// @import url('https://fonts.googleapis.com/css?family=Raleway:500|Zilla+Slab:500');

// $font-short-text : 'Zilla Slab', serif;
// $font-long-text : 'Raleway', sans-serif;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    &:focus {
        outline: none;
    }

    transition: transform 0.2s ease-in-out,
                background-color 0.2s ease-in-out,
                box-shadow 0.2s ease-in-out,
                margin 0.2s ease-in-out,
                padding 0.2s ease-in-out,
                filter 0.2s linear;

    // transition: all 0.2s ease-in-out;
    // transition-property: transform, box-shadow, background-color, margin, padding;
}

:root {
    position: relative;
    color: #333;
    font-family: $font-long-text;
    font-size: 24px;

    @media( max-width: $small-width ) {
        font-size: 18px;
    }
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    max-width: 100vw;
    width: 100vw;
    overflow-x: hidden;
    background-color: antiquewhite;
}

::-webkit-scrollbar {
    width: 16px;
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    border: 4px solid transparent;
    border-radius: 32px;
    box-shadow: inset 0 0 0 16px fade-out( black, 0.7 );
    transition: 0.2s all ease-in-out;

    &:hover {
        box-shadow: inset 0 0 0 16px fade-out( black, 0.5 );
    }
}

main {
    display: flex;
    flex-direction: column;
    width: 720px;
    padding: 8px;

    @media( max-width: $small-width ) {
        align-self: stretch;
        width: unset;
    }
}

section {
    display: flex;
    flex-direction: column;
    padding: $section-content-gap;
    margin-top: $section-content-gap * 2;

    background-color: floralwhite;
    border-radius: $section-border-radius;

    &:last-child {
        margin-bottom: $section-content-gap * 4;
    }
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: $section-content-gap;

    user-select: none;
    font-family: $font-short-text;
    font-size: 1.4em;
}

body > header {
    min-width: 100vw;
    padding: 10px;

    font-size: 2rem;
    background-color: $header-color;

    #github-link {
        position: absolute;
        display: flex;
        flex-direction: column;
        align-self: flex-end;
        width: 1em;

        img {
            pointer-events: none;
            width: 100%;
        }
    }
}

form {
    filter: saturate(0.6);

    &:focus-within, &:hover {
        filter: saturate(1);
    }

    & > * {
        display: flex;
        padding: 4px;
        min-width: 0;
    }
}

button {
    border: unset;
    background-color: unset;
    color: unset;
    font: unset;
    cursor: pointer;
    user-select: none;

    &[disabled] {
        pointer-events: none !important;
        filter: grayscale(1) blur(1.4px) !important;
    }
}

input, textarea {
    border: unset;
    outline: none;
    font: inherit;
    color: unset;

    // &:invalid {
    //     border: 3px solid red;
    // }

    // &:valid {
    //     border: 3px solid green;
    // }
}

label {
    user-select: none;
}

.icon-button {
    min-height: 1.0em;
    min-width: 1.0em;
    padding: 0.3em;
    align-self: center;

    border-radius: 2em;

    &:hover {
        transform: scale( 1.6 );
        background-color: white;
        box-shadow: 0 0 0.5em -0.2em black;
    }
}

task-list {
    display: flex;
    flex-direction: column;

    & > form {
        display: grid;
        grid-template: "verbal attribute search" / auto auto 1fr;
        grid-gap: $section-content-gap;
        margin-bottom: $section-content-gap;
        padding: $section-content-gap;

        @media( max-width: $small-width ) {
            grid-template-areas: "verbal verbal verbal" "attribute attribute search"
        }

        background-color: orange;
        border-radius: $section-content-border-radius;

        & > input[type="text"] {
            grid-area: verbal;
        }

        & > button[type="submit"] {
            margin-left: auto;
            grid-area: search;
        }

        & > div {
            grid-area: attribute;
            padding: 0;

            & > label {
                margin-right: $section-content-gap;
                background-color: gray !important;
                font-size: 0.8rem;
            }
    
            & > input:checked + label {
                background-color: white !important;
            }
        }
    }

    & > #tasks {
        display: flex;
        flex-direction: column;

        & > *:last-child {
            border-bottom-left-radius: 4px;
            border-bottom-right-radius: 4px;
        }

        & > *:first-child {
            border-top-left-radius: 4px;
            border-top-right-radius: 4px;
        }
    }
}

a-task {
    --bg-odd-color : #81D4FA;
    --bg-even-color : #B3E5FC;
    --highlight-color : dodgerblue;

    &[timed-out]:not([archived]) {
        --bg-odd-color : #EF5350;
        --bg-even-color : #E57373;
        --highlight-color : crimson;
    }

    background-color: var(--bg-odd-color);

    &[archived] {
        filter: grayscale(1);
    }

    &:nth-of-type( even ) {
        background-color: var(--bg-even-color);
    }

    // TODO: add "&:focus-within" for power-users (keyboard support)
    &:hover {
        transform: scale(1.1);
        z-index: 1;
        box-shadow: 0 0 10px gray;
        border-radius: $section-content-border-radius;
    }

    & > details {
        padding: 6px;

        &[open] > summary {
            background-color: var(--highlight-color);
            color: ghostwhite;

            & > p {
                text-overflow: unset;
                overflow: unset;
                white-space: unset;
            }
        }

        & > * {
            padding: 0 6px;
        }

        & > summary {
            display: flex;
            align-items: baseline;
            font-size: 0.8rem;
            cursor: pointer;

            & > p {
                margin-right: auto;
                padding: 4px 0;
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;
            }

            & > time {
                white-space: nowrap;
            }

            &::-webkit-details-marker {
                min-width: 0.8em;
                min-height: 0.8em;
            }
        }

        & > .description {
            padding: 6px 8px;
            font-size: 0.8rem;
            background-color: white;
        }

        & > .menu_bar {
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            font-size: 0.7rem;
            border-bottom: 4px double var(--highlight-color);
            user-select: none;

            & > * {
                margin: 0.3em 0;
            }
        }
    }
}

new-task {

    & > form {
        display: grid;
        grid-template-columns: 1fr auto auto;
        padding: $section-content-gap;
        grid-gap: $section-content-gap;
        border-radius: $section-content-border-radius;

        background-color: rgb(113, 211, 118);;
        // background-color: #C8E6C9;
        
        // &:focus-within {
        //     background-color: rgb(113, 211, 118);
        // }

        & > * {
            display: flex;
            padding: 4px;
            min-width: 0;
        }
    
        & > input[type=datetime-local] {
            font-size: 0.6rem
        }
    
        & > textarea {
            grid-column-start: 1;
            grid-column-end: -1;
            resize: vertical;
            
            font-size: 0.8rem;
        }
    }
}